body {
  width: 100%;
  height: 100%;
}

/* .container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.infosmap {
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  margin-left: 12%;
  margin-right: 12%;

  padding-bottom: 20px;

  justify-content: space-between;
}
.leaflet-container {
  height: 400px;
  width: 600px;
}

.madivinfos {
  height: 60%;
  width: 40%;
}

.madivinfos ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}
.header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navheader {
  height: 100px;
  padding-left: 150px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p {
  font-size: 10px;
}
.Menu {
  width: 350px;
}

.logo {
  width: 200px;
}

.haut {
  display: flex;
  justify-content: space-between;
}

.bas {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  justify-content: space-between;
}

.simplonheader {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100px;
}

.mesliens {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.textheader {
  display: flex;
  height: auto;
  background: #ce0033;
  color: white;
  padding-left: 150px;
  text-align: left;
}

.texte {
  padding-top: 30px;
  padding-bottom: 130px;
}

.photo {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 50px;
}

.bouton {
  margin-top: 50px;
  padding: 1px;
  text-align: center;
  width: 200px;
  background: white;
  color: #ce0033;
}

footer {
  padding-top: 20px;
  padding-bottom: 5px;
  background: #ce0033;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logofooter {
  padding-bottom: 60px;
}

.centre {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.nom {
  font-size: 20px;
  border-top: #ce0033 5px solid;
}

.monadresse {
  color: black;
  font-size: 8px;
  padding-left: 35px;
}

.formation {
  text-align: center;
  padding-top: 80px;
  font-size: 25px;
}

.popup {
  color: #ce0033;
}

@media (max-width: 850px) {
  .textheader {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .texte {
    width: 80%;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  ul {
    flex-direction: column;
    font-size: 10px;
    padding-left: 2%;
  }

  h2 {
    font-size: 20px;
  }
  .navheader {
    padding-left: 0px;
    height: auto;
    width: 98%;
    padding-right: 10px;
  }

  .Menu {
    width: auto;
  }

  .infosmap {
    flex-direction: column;
    height: auto;
  }
  .nom {
    width: 100%;
  }
  .leaflet-container {
    width: 100%;
  }

  .logofooter {
    width: 70%;
    padding-bottom: 10px;
  }
  .centre {
    font-size: 20px;
  }
  .madivinfos {
    width: 100%;
  }
  .madivinfos ul {
    width: 100%;
    padding: 0;
  }

  .monfooter {
    font-size: 6px;
  }
}
